@import 'tailwindcss';
@import 'uniwind';

@import 'heroui-native/styles';

/* Path to the heroui-native lib inside node_modules from the root of your project */
@source './node_modules/heroui-native/lib';

@layer theme {
  @variant light {
    --accent: oklch(0.7329 0.1935 150.81);
    /* Brand Green #17C964 */
    --accent-foreground: oklch(100% 0 0);
    --accent-gradient: linear-gradient(135deg, #17C964 0%, #17AD56 100%);

    --background: oklch(0.985 0.002 247.83);
    --surface: oklch(100% 0 0);
    --overlay: oklch(100% 0 0);
    --divider: oklch(0 0 0 / 8%);

    --foreground: oklch(0.2 0.01 247.83);
    --muted: oklch(0.5 0.02 247.83);
  }

  @variant dark {
    --accent: oklch(0.7329 0.1935 150.81);
    /* Brand Green #17C964 */
    --accent-foreground: oklch(100% 0 0);
    --accent-gradient: linear-gradient(135deg, #17C964 0%, #17AD56 100%);

    --background: oklch(0.12 0.01 247.83);
    --surface: oklch(0.16 0.02 247.83);
    --overlay: oklch(0.22 0.02 247.83);
    --divider: oklch(1 0 0 / 10%);

    --foreground: oklch(0.95 0.01 247.83);
    --muted: oklch(0.65 0.02 247.83);
  }
}

@theme {
  --radius: 0.5rem;
  /* Custom fonts */
  --font-normal: 'Inter_400Regular';
  --font-medium: 'Inter_500Medium';
  --font-semibold: 'Inter_600SemiBold';
  --font-bold: 'Inter_700Bold';
}